html,
body,
#root,
#app {
    padding: 0;
    margin: 0;
    height: 100%;
}

.fullscreen-mode {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 29 !important;
    background: white;
    padding: 20px;
}

.fullscreen-mode #app {
    height: calc(90vh - 40px) !important;
}

.fullscreen-mode #fullscreen-btn {
    top: 10px !important;
    right: 20px !important;
}

.selection .select2-selection {
    height: 38px !important;
}

.select2-container {
    z-index: 30 !important;
}

.select2-dropdown {
    z-index: 99999 !important;
}

.select2-search--dropdown .select2-search__field {
    position: relative;
    z-index: 999999;
}

#select2-modulReference-container,
#select2-partReference-container,
#select2-modulSelect-container,
#select2-partSelect-container {
    font-size: 12px !important;
    height: 38px !important;
    line-height: 36px !important;
}

.modal-backdrop {
    z-index: 98 !important;
}

.modal {
    z-index: 999 !important;
}

.select2-container--default .select2-selection--single {
    border-color: #d1d5db !important;
}

.select2-selection__arrow {
    height: 38px !important;
}

#select2-modulReference-results,
#select2-partReference-results,
#select2-modulSelect-results,
#select2-partSelect-results {
    padding: 8px !important;
    font-size: 12px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__clear {
    height: 38px !important;
}

.btn-add {
    background: blue;
    padding: 8px 10px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    font-size: 12px;
}

.btn-add:hover {
    background: rgb(72, 72, 246);
}

.choices__list--single .choices__item {
    font-size: 12px !important;
}

.fi-input {
    font-size: 12px !important;
}
